@font-face{
    font-family: Inter;
    src: url('../font/inter/Inter-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color              : #FFF;
    --text-color            : #050505;
    --main-color            : #050505;
    --second-color          : #9C9C9A;
    --border                : 1px #DADFE5 solid;
    --font-extraSmall       : 12px;
    --font-small            : 14px;
    --font-medium           : 16px;
    --font-large            : 18px;
    --font-ExtraLarge       : 20px;
    --font-ExtraExtraLarge  : 22px;
}

.judul{
    margin-bottom: 50px;
    /*border: 1px solid  red;*/
}

.contentt{
    border: var(--border);
    padding: 15px 15px 15px 15px;
    width: 100%;

}

table{
    font-size: var(--font-medium);
}

#btn-detail{
    background-color: var(--bg-color);
    color: var(--main-color);
    border: var(--border) !important;
}

th.sorting{
    text-align: center !important;
    /*background-color: blue !important;*/
}

div.form-check.form-switch{
    display: flex;
    justify-content: center;
    /*background-color: blue;*/
}

.form-check-input{
    position: relative;
    width: 60px !important;
    height: 25px !important;
    border: var(--border) !important;
}


isi-menu-card, ul, li, #icon-menu-card{
    padding-right: 0px  !important;
}