@font-face{
    font-family: Inter;
    src: url('../font/inter/Inter-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color              : #FFF;
    --text-color            : #050505;
    --main-color            : #050505;
    --second-color          : #9C9C9A;
    --border                : 1px #DADFE5 solid;
    --font-extraSmall       : 12px;
    --font-small            : 14px;
    --font-medium           : 16px;
    --font-large            : 18px;
    --font-ExtraLarge       : 20px;
    --font-ExtraExtraLarge  : 22px;
}

.judul{
    margin-bottom: 50px;
    /*border: 1px solid  red;*/
}

.contentt{
    border: var(--border);
    padding: 15px 15px 15px 15px;

}

table{
    font-size: var(--font-medium);
}

#btn-detail{
   background-color: var(--bg-color);
   color: var(--main-color);
   border: 1px  solid #050505 !important;
}


.form-switch{
    /*border: 1px solid red;*/
}

.form-check-input{
   width: 55px !important;
   height: 25px !important;
   border: var(--border) !important;
}

.paginate_button{
     /*background: blue !important;*/
}

 #previous{
    background-color: red !important;
 }

 a .page-link{
    background: red !important;
 }